@import "./Props.scss";

body {
    background: #d5dbdb;
}

.splash {
    width: 400px;
    height: 400px;
}

.green-belt {
    background: #009788;
    height: 15vh;
}

.messenger {
    background: #fff;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left:30px;
    border-radius: 3px;
    .inbox{
        width: 350px;
        border-right: 1px #ddd solid;
        /*Userbox | head*/
        .userbox{
            border-bottom: 0.75px #ccc solid;
            background: #f3f3f3;
            border-radius: 3px 0px 0px 0px;
            .you {
                flex: 1;
                padding-left: 12px;
                .user {
                    width:40px;
                    height:40px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .actions {
                flex: 1;
                justify-content: flex-end;
                padding-right: 5px;
                button {
                    width: 50px;
                    height: 50px;
                    border: 0px;
                    background: #cccccc00;
                    margin-left: 1px;
                    color: #888;
                }
            }
        }

        /* Search */
        .search {
            border-top: 1px #ddd solid;
            border-bottom: 1px #ddd solid;
            padding: 7px 15px;
            .sbox {
                background: #fff;
                border: 1px #eaeaea solid;
                flex: 1 1;
                border-radius: 5px;
                overflow: hidden;
                button {
                    width: 50px;
                    border: 0px;
                    background: #fff;
                    padding: 5px;
                    font-size: 22px;
                    color: #888;
                    &:hover {
                        color: #222;
                        cursor: pointer;
                    }
                }
                input {
                    flex: 1;
                    border: 0px;
                }
            }
        }

        /* Conversation */
        .conv-list{
            overflow-x: hidden;
            overflow-y: auto;
            flex: 1;
            height: calc(100vh - 140px);
        }
        .conversation {
            padding: 5px 10px;
            .you {
                width: 50px;
                .user {
                    width:40px;
                    height:40px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .meta {
                flex: 1;
                border-bottom: 1px #f1f1f1 solid;
                padding: 0px 0px 10px 0px;
                .info {
                    flex: 1;
                }
                .name {

                }
                .last-msg {

                }
            }
            .extra {
                .stamp {

                }
                .badge {
                    background: #2fc32f;
                    padding: 0px 3px;
                    max-width: 32px;
                    text-align: center;
                    font-size: 12px;
                    border-radius: 40px;
                    margin-top: 5px;
                }
            }
        }


    }
    .chatbox{
        flex: 1;
    }
}

