@import "./Props.scss";

body {
    background: #d5dbdb;
}

.splash {
    width: 400px;
    height: 400px;
}

.green-belt {
    background: #0684ba;
    height: 15vh;
}

.messenger {
    background: #fff;
    top: 50px;
    right: 45px;
    bottom: 50px;
    left:45px;
    border-radius: 3px;
    border: 2.5px solid #0684ba25;
    .inbox{
        width: 450px;
        border-right: 1px #ddd solid;
        /*Userbox | head*/
        .userbox{
            border-bottom: 0.75px #ccc solid;
            background: #f3f3f3;
            border-radius: 3px 0px 0px 0px;
            .you {
                flex: 1;
                padding-left: 12px;
                .user {
                    width:40px;
                    height:40px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .actions {
                flex: 1;
                justify-content: flex-end;
                padding-right: 5px;
                button {
                    width: 50px;
                    height: 50px;
                    border: 0px;
                    background: #cccccc00;
                    margin-left: 1px;
                    color: #888;
                }
            }
        }

        /* Search */
        .search {
            border-top: 1px #ddd solid;
            border-bottom: 1px #ddd solid;
            padding: 7px 15px;
            .sbox {
                background: #fff;
                border: 1px #eaeaea solid;
                flex: 1 1;
                border-radius: 5px;
                overflow: hidden;
                button {
                    width: 50px;
                    border: 0px;
                    background: #fff;
                    padding: 5px;
                    font-size: 22px;
                    color: #888;
                    &:hover {
                        color: #222;
                        cursor: pointer;
                    }
                }
                input {
                    flex: 1;
                    border: 0px;
                }
            }
        }

        /* Conversation */
        .conv-list{
            overflow-x: hidden;
            overflow-y: auto;
            flex: 1;
            height: calc(100vh - 140px);
        }
        .conversation {
            padding: 5px 10px;
            .you {
                width: 50px;
                .user {
                    width:40px;
                    height:40px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .meta {
                flex: 1;
                border-bottom: 1px #f1f1f1 solid;
                padding: 0px 0px 10px 0px;
                .info {
                    flex: 1;
                }
                .name {

                }
                .last-msg {

                }
            }
            .extra {
                .stamp {

                }
                .badge {
                    background: #0684ba;
                    padding: 0px 3px;
                    max-width: 32px;
                    text-align: center;
                    font-size: 12px;
                    border-radius: 40px;
                    margin-top: 5px;
                }
            }
        }


    }
    .chatbox{
        flex: 1;
        /*Chathead*/
        .chathead{
            background: #f3f3f3;
            border-radius: 3px 0px 0px 0px;
            .you {
                flex: 1;
                padding-left: 12px;
                .user {
                    width:40px;
                    height:40px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .meta {
                    margin-left: 10px;
                }
            }
            .actions {
                flex: 1;
                justify-content: flex-end;
                padding-right: 5px;
                button {
                    width: 50px;
                    height: 50px;
                    border: 0px;
                    background: #cccccc00;
                    margin-left: 1px;
                    color: #888;
                }
            }
        }
        
        /* Chat */
        .chat {
            border-top: 1px #ddd solid;
            border-bottom: 1px #ddd solid;
            flex: 1;
            background-image: url('../media/backgroundO20.png');
            background-color: #e4dbdbb5;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 20px 30px;
            .bubble {
                flex: 1;
                margin: 3px 0px;
                
                .ballon{
                    
                    background: #fff;
                    display: table;
                    padding: 7px 60px 7px 10px;
                    border-radius: 8px;
                    max-width: 30%;
                    border: 1px solid #0684bacc;
                    border-left: 0.5px solid #0684baaa;
                    .stamp {
                        bottom: 7px;
                        right: 7px;
                    } 
                    &:before {
                        content: '';
                        position: absolute;
                        width: 12px;
                        height: 15px;
                        left: -13px;
                        bottom: 8px;
                        background: #fff;
                        border-left: 1px solid #0684baee;
                        border-bottom: 1px solid #0684baee;
                        border-top-left-radius: 70px;
                        border-bottom-left-radius: 5px;
                    }       
                }

                &.mine {
                    justify-content: flex-end;
                    .ballon {
                        background: #0684ba88;
                        border: 1px solid #0684bacc;
                        border-right: 0.5px solid #0684baaa;
                        &:before {
                            content: '';
                            position: absolute;
                            width: 12px;
                            height: 15px;
                            right: -13.5px;
                            left: auto;
                            bottom: 6px;
                            border-left: 1px solid #ebf0f166;
                            border-right: 1px solid #0684baee;
                            border-bottom: 1px solid #0684baee;
                            background-color: #0684ba88;
                            border-top-left-radius: 0px;
                            border-top-right-radius: 70px;
                            border-bottom-left-radius: 5px;
                        }
                    }
                }                     
                    
                
            }
        }

        /* Sendbox*/
        .sendbox {
            background: #f3f3f3;
            padding: 10px;
            .form {
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                width: 100%;
                .new-message {
                    flex: 1;
                    border: 0px;
                    margin: 0px 0px;
                    border-radius: 5px;
                    padding: 10px;
                    padding-right: 0px;
                    height: 40px;
                    resize: none;
                }
                textarea {
                    width: 98%;
                }
            }
            button {
                width: 40px;
                height: 40px;
                border: 0px;
                background: #00000000;
                color: #888;
            }
            
        }
        
        .picker {
            position: absolute !important;
            bottom: 80px;
            left: 10px;
            z-index: 1;
        }

    }
}


